<div class="full-image-container" id="home">
  <div style="background-image: url(<%= asset_path "scripps.jpg" %>)" class="full-img">
    <div class="container introductive-title">
      <br><br><br><br><figure><%= image_tag "cssa_box.png", :size=>'130x130'%></figure>
      <br><br>
      <h1>学术与职业发展部</h1>
      <h2>Department of Academic and Career Development</h2><br>
      <hr><br>
      <div class="font-awesome-group">
        <%= link_to "https://www.facebook.com/groups/309629275764809",:target=>'_blank' do %>
          <i class="fa fa-facebook fa-2x"></i>
        <% end %>
        <%= link_to "https://twitter.com/ucsdcssa", :target=>'_blank' do %>
          <i class="fa fa-twitter fa-2x"></i>
        <% end %>
        <%= link_to "http://www.linkedin.com/company/3076220?trk=vsrp_companies_res_pri_act&trkInfo=VSRPsearchId%3A550081901367080753105%2CVSRPtargetId%3A3076220%2CVSRPcmpt%3Aprimary", :target=>'_blank' do %>
          <i class="fa fa-linkedin fa-2x"></i>
        <% end %>
        <%= link_to "http://page.renren.com/601269960", :target=>'_blank' do %>
          <span>人</span>
        <% end %>

        <a href="#wechat" data-target="#wechat" data-toggle="modal" class="wechat"><%= image_tag "wechat.png", :class=>"wechat-icon" %></a>

        <div class="modal fade" id="wechat" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel" style="color: #444;">微信平台</h3>
              </div>
              <div class="modal-body">
                <h4 style="color: #444;">校园Events, CSSA活动</h4> 
                <h4 style="color: #444;">每周更新, 请关注微信公众平台留学在UCSD</h4>
                <%= image_tag "qrcode.png", :class=>'wechat-qr'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>